

/*h1 {
font-family: helvetica;
font-size: 50px




}
p {
font-family: futura;
color: purple;

}
body{
color: blue;
background-color: orange;


}*/

{
#myFirstId {font-family: garamond}


}

{
#mySecondId {font-family: futura}

}